.nav{
    background-color: #101820 ;
}

.nv-link{
    color: #FEE715;
    transition: 5s ease-out;
}

.footer{
    background-color: #101820;
    color: #FEE715;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer input{
    background-color: #101820;
    color: #FEE715;
    border: 1px solid #FEE715;
    padding: 12px 16px;
}

/* #101820, #FEE715 */