.app{
    background-color: #101820;
    font-family: monospace;
    color: #FEE715;
}

.nav{
    background: linear-gradient(45deg, #101820 50%, #FEE715 50%);
    margin-bottom: 10px;
}

.nv-link{
    color: #101820;
    transition: 5s ease-out;
}

.footer{
    /* background: linear-gradient(120deg, #101820 60%, #FEE715 100%); */
    background: linear-gradient(-45deg, #101820 50%, #FEE715 50%);
    color: #FEE715;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 10px;
}

.footer input{
    background-color: #101820;
    color: #FEE715;
    border: 1px solid #FEE715;
    padding: 12px 16px;
}

.footer button{
    padding: 13px 16px;
}

.footer button:hover{
    background-color: red;
    color: #FEE715;
    cursor: pointer;
}


